# Folders
.git/
__pycache__/
All firefox backups/
backup/
build/
Completed DBs/
dist/
Docs/
Pre 55/
Reference/
programFiles/opera

# Files
Firefox history combiner.exe
places.sqlite
places.sqlite-wal
places.sqlite-shm
favicons.sqlite
favicons.sqlite-wal
favicons.sqlite-shm
History
Favicons
Settings.ini
Settings-1.ini
Settings-2.ini
test.py
opera.py
Combiner.log
makeCombinerExe.bat
